body {
	margin: 0;
	padding: 0;
}

$maximum-width: 650px;

@mixin link-format ($isHover) {
	> a {
		padding: 1em;
		font-size: 1em;
		text-decoration: none;

		@if ($isHover == true) {
			&:focus,
			&:hover {
				background-color: #eee;
			}
		}
	}
}

/// Container
.topbar-container {
	background-color: #fff;
	border-bottom: 1px solid #e6e6e6;

	display: flex;
	flex-flow: row wrap;
}

.topbar-logo {
	order: 1;
	align-self: center;

	display: flex;
	@include link-format(false);

	@media screen and (max-width: $maximum-width) {
		flex: 1 1 50%;
	}
}

.topbar-menu {
	order: 2;
	align-self: center;

	display: flex;
	flex-flow: row nowrap;
	@include link-format(true);

	@media screen and (max-width: $maximum-width) {
		display: none;
		&.topbar-responsive {
			flex-flow: column nowrap;
			width: 100%;
			order: 5;
			display: flex;
			a {
				transition: 500ms ease;
				text-align: center;
				border-bottom: 1px solid #e6e6e6;
			}
		}
	}
}

.topbar-user {
	order: 3;
	margin-left: auto;
	align-self: center;

	button,
	span {
		display: none;
	}
	@include link-format(true);
	@media screen and (max-width: $maximum-width) {

		button,
		span {
			display: inline;
		}
	}
}


.box-container {
	height: 500px;
	width: 500px;
	background-color: #ccc; 

	> a {
		float: right;
		font-size: 20px;
		text-decoration: none;
	}

	a {
		font-size: 18px;
	}
}